<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nishkarma.mall.order.repository.TbTmpOrderMapper">
	
	<resultMap id="BaseResultMap" type="org.nishkarma.mall.order.model.TbTmpOrder">
		<id column="ORD_ID" property="ordId" jdbcType="NUMERIC" />
		<result column="GOOD_ID" property="goodId" jdbcType="NUMERIC" />
		<result column="ORD_AMT" property="ordAmt" jdbcType="NUMERIC" />
		<result column="ETR_DATE" property="etrDate" jdbcType="TIMESTAMP" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ORD_ID, GOOD_ID, ORD_AMT, ETR_DATE, UPDATE_DATE, ERP_ORDER_ID, ERP_TRANS_DATE
	</sql>	

	<insert id="insert" parameterType="org.nishkarma.mall.order.model.TbTmpOrder">

		<selectKey keyProperty="ordId" resultType="int" order="BEFORE">
			SELECT nextval('TMP_ORDER_SEQ')
		</selectKey>

		insert into TB_TMP_ORDER (ORD_ID, GOOD_ID, ORD_AMT,
		ETR_DATE,
		UPDATE_DATE)
		values (#{ordId,jdbcType=NUMERIC},
		#{goodId,jdbcType=NUMERIC},
		#{ordAmt,jdbcType=NUMERIC}, now(),
		now())

	</insert>

	<select id="selectByPrimaryKey" parameterType="Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TB_TMP_ORDER
		where ORD_ID = #{ordId,jdbcType=NUMERIC}
	</select>

</mapper>